* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid black;
}

body {
    background-color: black;;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.edge {
    width: 80vw;
    height: 2.5vh;
}

.header {
    width: 80vw;
    height: 10vh;
    background-color: red;
    color: yellow;
    font-size: 2rem;
    border-radius: 100px 100px 0px 0px;
}

.container {
    width: 80vw;
    height: 85vh;
    background: red;
    border-radius: 0px 0px 100px 100px;
}

.grid-container {
    position: absolute;
    top: 25vh;
    width: 55vw;
    height: 50vh;
    background-color: lightgray;
    box-shadow: inset 0px 0px 20px;
    
}

.btn {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 5px;
}

.grid-size {
    position: absolute;
    bottom: 10vh;
    left: 33vw;
}

.erase {
    position: absolute;
    bottom: 10vh;
    right: 33vw;
}


.knob {
    width: 125px;
    height: 125px;
    background-color: white;
    border: 0px solid white;
    border-radius: 100%;
}

.knob-left {
    position: absolute;
    bottom: 5vh;
    left: 15%;
    box-shadow: 10px 10px 10px black
}

.knob-right {
    position: absolute;
    bottom: 5vh;
    right: 15%;
    box-shadow: 10px 10px 10px black
}