* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-color: black;;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.edge {
    width: 80vw;
    height: 2.5vh;
}

.header {
    width: 80vw;
    height: 10vh;
    background-color: red;
    color: yellow;
    font-size: 2rem;
    border-radius: 100px 100px 0px 0px;
    align-items: flex-end;
}

h1 {
    text-shadow: 2px 2px 2px black;
}

.container {
    width: 80vw;
    height: 85vh;
    background: red;
    border-radius: 0px 0px 100px 100px;
}

.grid-container {
    position: absolute;
    top: 15vh;
    width: 60vw;
    height: 60vh;
    background-color: lightgray;
    box-shadow: inset 0px 0px 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square {
    border: 1px solid darkgray;
}

.btn {
    width: 160px;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 5px;
}

.grid-size {
    position: absolute;
    bottom: 15vh;
}

.grid-size:hover {
    background-color: yellow;
}


.erase {
    position: absolute;
    bottom: 8vh;
}

.erase:hover {
    background-color: yellow;
}

.knob {
    width: 150px;
    height: 150px;
    background-color: white;
    border: 0px solid white;
    border-radius: 100%;
}

.knob-left {
    position: absolute;
    bottom: 5vh;
    left: 15%;
    box-shadow: 10px 10px 10px black
}

.knob-right {
    position: absolute;
    bottom: 5vh;
    right: 15%;
    box-shadow: 10px 10px 10px black
}

@media only screen and (min-width: 1500px) {
    .header {
        width: 1200px;
    }
    .container {
        width: 1200px;
    }
    .grid-container {
        width: 1000px;
    }
    .knob-left {
        left: 20%; 
    }
    .knob-right {
        right: 20%;
    }
}